body {
    background-color: whitesmoke;
    background-image: url("./images/yggdrasil.png");
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: center;
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
}

h1 {
    font-family: 'Ribeye Marrow', cursive;
    font-size: 45px;
}

.header {
    color:rgb(51, 49, 49);
    width: 550px;
    padding: 15px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


// .play {

// }

#game-canvas { 
    padding: 15px;
    background-color: rgb(89, 153, 147, .4);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#footer {
    width: 300px;
    height: 60px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;

}
#footer > a {
    display: flex;
    height: 60px;
    width:60px;
}

#bkg {
    display: none;
}


// #instructions {
//   display: block;
//   position: fixed; 
//   margin-left: auto;
//   margin-right: auto;
//   z-index: 1; /* Sit on top */
//   left: 75px;
//   top: 150px;
//   width: 80%;


// //   background-color: rgb(247, 245, 245, .3);
// //   overflow: auto; 
// }

.modal > #instructions{
    z-index: 1; 
    display: block;
    position: absolute;
    height: 400px;
    width: 600px;
    padding: 15px;
    background-color: rgb(89, 153, 147, .4);
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.modal #win {
    z-index: 1; 
    display: none;
    position: absolute;
    height: 400px;
    width: 600px;
    padding: 15px;
    background-color: rgba(226, 236, 235, 0.3);
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}
.modal #lose {
    z-index: 1; 
    display: none;
    position: absolute;
    height: 400px;
    width: 600px;
    padding: 15px;
    background-color: rgba(226, 236, 235, 0.3);
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}